body {
  color: white;
}

P { 
  color:white; 
  background-color: black;
}

.description {
  max-width: 2000 px;
}

.title {
  background-color: #000000;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 10px auto;
}

.centered {
  text-align: center; 
  background-color: #808080;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 10px auto;
}

.steps {
  text-align: left;
  background-color: #c0ddff;
  border-radius: 20px;
  color: #808080;
  padding: 1px 10px;
}

.unitgroup {
  background-color: #000000;
  border-radius: 20px;
  padding: 10px;

}

